# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\beginMyBusines\my_project\n3c-platform\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
